<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rimando___QUIZ1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rimando___QUIZ1.styles.css" asp-append-version="true" />
    
    @* FONTS: *@
     
    @* Google fonts: *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    @* -Blender Pro *@
    <link href="~/fonts/BlenderPro/stylesheet.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <header>
        <div class="top-bar">
            <div class="cyberpunk-item cyberpunk-topleft">
                //LUIS.RIMANDO >> BLOG.QUIZ
            </div>
            <div class="cyberpunk-item cyberpunk-topright">
                //QUIZ.1
            </div>
        </div>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
