:root {
    --barsize: 75px;
    --Xred: #ee333a;
    --Xdarkred: #2a090a;
    --XBGDark: #1c1c1c;
    --bodyheight: calc(100vh - 150px);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 14px;
    font-family: 'Blender Pro';
    font-weight: normal;
    font-style: normal;
    background-color: var(--XBGDark);
    height: 100%;
}


.bar {
    display: flex;
    height: var(--barsize);
    /*    width: 100%;*/
    /*    border: .5px solid orange;
    background-color: turquoise;*/
}

.content {
    width: 100%;
    min-height: calc(100vh - 150px);
    /*
    border: .5px solid red;
    background-color: green;
    */
}

.centerdiv {
    text-align: center;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splashtitle {
    font-size: 50px;
}



.pagewrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    /*
    border: .5px solid red;
    background-color: green;
    */
}

.pagewrapper > * {
    flex: 1 100%;
}

.sidebar {/*
    border: .5px solid orange;
    background-color: salmon;*/
    height: 50%;
    padding: 10px;
}

.pagebody { /*
    border: .5px solid blue;
    background-color: yellowgreen;*/
    height: var(--bodyheight);
    padding: 10px;
}

.headerbar {
    /*border: .5px solid black;
    background-color: pink;*/
}

.sidebarwrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: var(--bodyheight);
    gap: 10px;
}

.sidebarwrapper > * {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 15px;
    width: 90%;

}

.sidebarIMG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid var(--Xred);
    background-color: white;

}

.Userimg {
    height: 95%;
    width: 95%;
    border-radius: 50%;
}

.sidebarDetails {
    text-align: justify;
    max-width: 100%;
    margin: 10px;
}

h3{
    text-align: center;
    font-size: 12px;
}

h1{
    text-align: center;
    
}

h2{
    width: 100%;
    color: var(--Xred)
}

.sidebarName {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--Xred)
}

.blogLink {
    color: black;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
}

.WriterContainer{
    flex: 2;
}

.LinksContainer {
    flex-flow: column wrap;
    display: flex;
    flex: 1;
}

.BlogsLabel {
    text-align: center;
    width: 100%;
    order: 0;
}

.BlogLinks {
    order: 1;
    flex: 1;
}

.BlogLinks > *:hover {
    color: black;
    border-bottom: 3px solid var(--Xred);
}

.bodywrapper {
    display: flex;
    width: 96%;
    min-height: var(--bodyheight);
    justify-content: center;
    align-items: center;
    padding: 15px;
    color:white;

}

.BlogContainer {
    color: black;
    display: grid;
    width: 100%;
    height: var(--bodyheight);
    grid-template-columns: auto 100px;
    grid-template-rows: 100px auto;
    grid-gap: 10px;
    min-height: 0;
    grid-template-areas:
        "title id"
        "blog blog"
}

    .BlogContainer > * {
        background-color: #f0f0f0;
        padding: 20px;
    }

.BlogTitleContainer {
    border-top-left-radius: 15px;
    font-size: 40px;
    color: var(--Xred)
}

.BlogIdContainer {
    border-top-right-radius: 15px;
    font-size: 40px;
    text-align: center;
}

.BlogContentContainer {
    grid-area: blog;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    padding: 5%;
}

@media all and (min-width: 1000px) {

    .sidebar {
        height: var(--bodyheight);
        flex: 1;
        order: 1;
    }

    .pagebody {
        flex: 3;
        order: 2;
    }

    .footer {
        order: 3;
    }

    .LinksContainer {
        flex-flow: row wrap;
    }
}