@model BlogsModel

<div class="bodywrapper">

    <div class="BlogContainer">
        <div class="BlogTitleContainer rajdhani-bold">
            Title: @Model.BlogTitle
        </div>
        <div class="BlogIdContainer">
            @Model.BlogID
        </div>
        <div class="BlogContentContainer">
            @Model.BlogContent
        </div>

    </div>
</div>