@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <body>
        <div class="contentgrid-container">

            <div class="contentgrid-item contentgrid-item-img">
                <img src="~/images/WolvenPunk.png" class="icon">
            </div>
            <div class="contentgrid-item contentgrid-item-H1">
                <h1 class="orbitron-Line1">
                    Baseline test
                </h1>
            </div>

            <div class="contentgrid-item contentgrid-item-P">
                <p class="rajdhani-regular">
                    A Black-blood nothingness began to spin. <br />
                    A systems of cells interlinked<br />
                    within cells interlinked,<br />
                    within cells interlinked,<br />
                    within one stem.<br />
                    And dreadfully distinct against the dark,<br />
                </p>
            </div>

            <div class="contentgrid-item contentgrid-item-H2">
                <h2 class="BlenderPro">
                    a tall white fountain played
                </h2>
            </div>

        </div>

    </body>
</html>