@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <body>
        <header>
            <div class="top-bar">
                <div class="cyberpunk-item cyberpunk-topleft">
                    //LUIS.RIMANDO >> PORTFOLIO.PROTOTYPE_
                </div>
                <div class="cyberpunk-item cyberpunk-topright">
                    //ИO.FUTURE_
                </div>
            </div>
        </header>

        <!-- CONTENT -->

        <div class="contentgrid-container">
            <div class="contentgrid-item contentgrid-item-1">
                <h1 class="orbitron-Line1">
                    Baseline test
                </h1>
            </div>
            <div class="contentgrid-item contentgrid-item-2">
                <p class="rajdhani-regular">
                    A Black-blood nothingness began to spin. <br />
                    A systems of cells interlinked<br />
                    within cells interlinked,<br />
                    within cells interlinked,<br />
                    within one stem.<br />
                    And dreadfully distinct against the dark,<br />
                </p>
            </div>
            <div class="contentgrid-item contentgrid-item-3">
                <h2 class="BlenderPro">
                    a tall white fountain played
                </h2>
            </div>
        </div>

        <footer>
            <div class="bottom-bar">
                <div class="cyberpunk-item cyberpunk-botleft">
                    //LUIS.RIMANDO >> PORTFOLIO.PROTOTYPE_
                </div>
                <div class="cyberpunk-item cyberpunk-botright">
                    //ИO.FUTURE_
                </div>
            </div>

        </footer>

    </body>
</html>