@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <body>
        <div class="mainpage-container">
            <div class="mainpage-item mainpage-leftcol">
                <div class="leftcol-item leftcol-basicinfo">
                    <div class="basicinfo basicinfo-img">
                    <img src="~/images/imgLUIS.png" id="UserImg" onmouseover="hover(this);" onmouseout="unhover(this);" />
                    </div>
                    <div class="basicinfo basicinfo-name">
                        <h1 class="UserName rajdhani-bold">
                            Luis Alfonso DP. Rimando
                        </h1>
                        <p class="UserContact">
                            09685914252 • alfonsorimando15@gmail.com
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="leftcol-item leftcol-botinfo">
                    <div class="botinfo-Header rajdhani-bold">
                        >>About me
                    </div>
                    <div class="bot-info botinfo-ProfessionalSummary">
                        <h2>Professional Summary:</h2>
                        <p> College student highly skilled in computers and technology, seeking part-time experience, with
                        extensive knowledge of core subject matter. Methodical and keen with details with exceptional
                        observational, critical-thinking, and communication skills. Consistently recognized by professors and
                        peers for logic and problem-solving skills in programming. Eager to learn and inquisitive in other
                        programming languages, operating systems such as Linux and its various distributions, and other
                        computer related technical skills.
                        </p>
                    </div>
                    <div class="bot-info botinfo-TableOfContents">
                        <nav class="TOCScroller">
                            <h2>Table of Contents:</h2>
                            <ul>
                                <li><a href="#Skills">Skills</a></li>
                                <li><a href="#Education">Education</a></li>
                                <li><a href="#TechnologySummary">Technology Summary</a></li>
                                <li><a href="#Github">Github</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="mainpage-item mainpage-rightcol">
                <div class="bot-info">
                    <section id="Skills">
                        <h2 class="orbitron-Line1">Skills:</h2>
                        <table>
                            <tr>
                                <td>
                                    <ul>
                                        <li>Logical reasoning</li>
                                        <li>Excellent Communication</li>
                                        <li>Teamwork and Collaboration</li>
                                        <li>Analytical and Critical Thinking</li>
                                        <li>Problem-Solving Skills</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Advanced computer literacy</li>
                                        <li>Computer hardware and software savvy</li>
                                        <li>Programming, Coding and Scripting</li>
                                        <li>Software Development</li>
                                        <li>Troubleshooting and debugging</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>
                <div class="bot-info">
                    <section id="Education">
                        <h2 class="orbitron-Line1">Education:</h2>
                        <table class="educ">
                            <tr>
                                <td>
                                    <h3>Junior High School:</h3>
                                    <h4>Claro M. Recto Information and Communication Technology High School – Angeles City</h4>
                                    Graduated: 04/2019
                                    <ul>
                                    <li>Awarded ‘With Honors’ from 9th to10th Grade</li>
                                    <li>Received Special awards for Best in Technology and Livelihood Education with special citationin science</li>
                                    <li>Member of Young Scientists' Club in 2018-2019</li>
                                    <li>Elected to President for Young Scientists' Club in 2018-2019</li>
                                    <li>Attended multiple seminars for robotics with Arduino</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Senior High School:</h3>
                                    <h4>Angeles University Foundation Integrated School – Angeles City</h4>
                                    Graduated: 06/2021
                                    <ul>
                                        <li>Awarded ‘With Honors / Bronze Academic Award’ for Grades 11 and 12</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Senior High School:</h3>
                                    <h4>Angeles University Foundation – Angeles City</h4>
                                    Graduated: Currently taking 3rd Year program for Bachelor of Science in Computer Engineering
                                    <ul>
                                        <li>Received Academic Scholarship from 2nd year onwards</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>

                <div class="bot-info">
                    <section id="TechnologySummary">
                        <h2 class="orbitron-Line1">Technology Summary:</h2>
                        <table class="educ">
                            <tr>
                            <td>
                                <font color=#1eed83>Programming experiences:</font>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>PHP</li>
                                    <li>Visual Basic</li>
                                    <li>C</li>
                                    <li>C#</li>
                                    <li>Python</li>
                                </ul>
                                <td>
                                    <font color=#1eed83>Tools:</font>
                                    <ul>
                                        <li>Visual Studio</li>
                                        <li>Visual Studio Code</li>
                                        <li>Git</li>
                                        <li>Github</li>
                                        <li>MySQL</li>
                                        <li>Linux OS (Ubuntu)</li>
                                    </ul>
                                </td>
                                <td>
                                    <font color=#1eed83>Technical Skills:</font>
                                    <ul>
                                        <li>Programming Logic and Design</li>
                                        <li>Data Structures</li>
                                        <li>Algorithm Analysis and Design</li>
                                        <li>Software Troubleshooting Debugging</li>
                                        <li>Database Systems and Implementation</li>
                                        <li>Computer Hardware Troubleshooting</li>
                                        <li>Expertise in Computer Hardware</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>
                <div class="bot-info">
                    <section id="Github">
                         <h2 class="orbitron-Line1">Github Page:</h2>
                        <div id="repo-box"></div>
                    </section>
                </div>


            </div>
            
        </div>

    </body>
</html>